<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>PageTree</title>

    <%= stylesheet_link_tag    "page_tree/application" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= csrf_meta_tags %>
  </head>

  <body>

    <div class="fixed">
      <nav class="top-bar" data-topbar>
        <ul class="title-area">
          <li class="name">
            <h1><a href='/'>Blabla</a></h1>
          </li>
          <li class="toggle-topbar menu-icon"><a href=""><span>Menu</span></a></li>
        </ul>

        <section class="top-bar-section">
          <ul class="left">
            <li><span>Rolf van de Krol</span></li>
            <li><a class="logout" href="#">Logout</a></li>
          </ul>

          <% if content_for? :topbar %>
            <%= yield :topbar %>
          <% end %>
        </section>
      </nav>
    </div>

    <section class="main">
      <div class="row">
        <% if content_for? :sidebar %>
          <div class="large-3 medium-4 small-12 columns">
            <div class="sidebar">
              <%= yield :sidebar %>
            </div>
          </div>
          <div class="large-9 medium-8 small-12 columns">
            <%= render partial: 'page_tree/shared/content' %>
          </div>
        <% else %>
          <div class="large-12 columns">
            <%= render partial: 'page_tree/shared/content' %>
          </div>
        <% end %>
      </div>
    </section>
    
    <%= javascript_include_tag "page_tree/application" %>
  </body>
</html>