<div class="main-content">
  <% if flash[:error] %>
    <%= content_tag :div, :id => "flash_name", :class => "alert-box error", "data-alert" => true do %>
      <%= flash[:error] %>
      <a class="close">x</a>
    <% end %>
  <% end %>

  <% if flash[:notice] %>
    <%= content_tag :div, :id => "flash_name", :class => "alert-box success", "data-alert" => true do %>
      <%= flash[:notice] %>
      <a class="close">x</a>
    <% end %>
  <% end %>
  
  <%= yield %>
</div>